element.style {
}

body{
    margin: 0;
    padding: 0;
}

body{
    background-color: pink;
    height: 1200px;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white, rgb(247, 165, 178));
}
.column {
    padding:0px;
    float: left;
    width: 33.33%;
    height: 200px;  
}
.row1{
    margin-bottom: 0px;
}  

*, ::after, ::before {
    box-sizing: border-box;
}

.navbar .navbar-nav .nav-link {
    color:black;
    font-size: 1.1em;
   }
  .navbar .navbar-nav .nav-link:hover{
   color: #0cb940;
  }
  